{# Google Analytics #}
{{ include('partials/analytics.twig', ignore_missing = true) }}

<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

{# Site wide Javascript #}
{% if site.scripts %}
    {% for script in site.scripts %}
    <script src="{{ script.src }}"{% if script.async %} async{% endif %}></script>
    {% endfor %}
{% endif %}

{# Page specific Javascript #}
{% if page.scripts %}
    {% for script in page.scripts %}
    <script src="{{ script.src }}"{% if script.async %} async{% endif %}></script>
    {% endfor %}
{% endif %}

{# Cookie Choices #}
<script>document.addEventListener("DOMContentLoaded",function(){cookieChoices.showCookieConsentBar("This website use cookies to give you the best experience.","OK","Learn more","http://www.allaboutcookies.org")});</script>

</body>
</html>
