{{ include('partials/header.twig') }}

<form action="/contact/submit" method="post">
    <input type="text" name="name">
    <button type="submit">Submit</button>
</form>

{{ include('partials/footer.twig') }}
