{{ include('partials/header.twig') }}

    <h1>404.</h1>
    <p>We couldn't find what you're looking for.</p>
    <p>Check you've spelt the address correctly, you came to: <br><code><i class="link icon space left"></i> {{ site.domain }}/{{ page.path }}</code></p>
    <p>
        <a class="positive button" href="/"><i class="home icon space left"></i> Homepage</a>
    </p>

{{ include('partials/footer.twig') }}
